.image-wrapper {
  position: relative;
  display: inline-block;
}

.image-size-overlay {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(21, 101, 192, 0.8);
  color: white;
  padding: 2.5px;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 10px;
  white-space: nowrap;
}